<mat-dialog-content>
<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <img src="/assets/chatworm.png" alt="Chatworm" width="72px"/>
    <div class="m-4">
      <h2 class="mb-0 ml-2">Chat Worm</h2>
      <h5 class="mb-0 ml-2">Chat directly via API</h5>
    </div>
  </div>
</div>
<p>Better ChatGPT client to access the API directly.<br/>
  Trusted open source app on Github: <iframe src="https://ghbtns.com/github-btn.html?user=UnknownEnergy&repo=chatgpt-api&type=star&count=true" frameborder="0" scrolling="0" width="150" height="20" title="GitHub"></iframe><br/>
  300+ Android App Downloads<br/>
  100+ Windows App Downloads <br/><br/>
  Follow these three simple steps to setup:</p>
  1️⃣ <button (click)="openApiKeyWebsite()">Get&nbsp;API&nbsp;Key here</button>
  <br/>
  <div class="d-flex align-content-center align-items-center">
    2️⃣&nbsp;<input [(ngModel)]="apiKey" placeholder="Enter API Key here...">
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  3️⃣ <button (click)="onContinue()">Continue</button>
</mat-dialog-actions>
