mat-form-field {
  width: 100%;
  height: fit-content;
}
mat-dialog-actions {
  color: white;
}

mat-dialog-content {
  height: fit-content;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  outline: none;
  width: 100%;
}

button {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #00A67E;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;
}

button:hover {
  background-color: #005a44;
}

.btn-primary {
  background-color: #00A67E;
}
