<div class="chat-settings">
  <div class="row">
    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKey()" [(ngModel)]="settings.apiKey" [type]="showPassword ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter OpenAI API Key...">
      <button (click)="showPassword = !showPassword;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyAnthropic()" [(ngModel)]="settings.apiKeyAnthropic"
             [type]="showPassword2 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Anthrophic API Key...">
      <button (click)="showPassword2 = !showPassword2;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyAnthrophicWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyGemini()" [(ngModel)]="settings.apiKeyGemini"
             [type]="showPassword3 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Gemini API Key...">
      <button (click)="showPassword3 = !showPassword3;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyGeminiWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyDeepSeek()" [(ngModel)]="settings.apiKeyDeepSeek"
             [type]="showPassword4 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter DeepSeek API Key...">
      <button (click)="showPassword4 = !showPassword4;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyDeepSeekWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyQwen()" [(ngModel)]="settings.apiKeyQwen" [type]="showPassword5 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Qwen API Key...">
      <button (click)="showPassword5 = !showPassword5;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyQwenWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input
        (input)="onTypeApiKeyGrok()"
        [(ngModel)]="settings.apiKeyGrok"
        [type]="showPassword6 ? 'text' : 'password'"
        class="input-api"
        placeholder="Enter Grok API Key..."/>
      <button (click)="showPassword6 = !showPassword6;" aria-label="Show API Key" class="api-button">
        <i class="bi bi-eye"></i>
      </button>
      <button (click)="openApiKeyGrokWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyMistral()" [(ngModel)]="settings.apiKeyMistral"
             [type]="showPassword7 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Mistral AI API Key...">
      <button (click)="showPassword7 = !showPassword7;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyMistralWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex">
      <input (input)="onTypeApiKeyStepFun()" [(ngModel)]="settings.apiKeyStepFun"
             [type]="showPassword8 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter StepFun API Key...">
      <button (click)="showPassword8 = !showPassword8;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyStepFunWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="d-flex align-items-center">
      <p class="p-left-column">Active Model:</p>
      <div class="custom-dropdown">
        <div (click)="toggleDropdown()" class="dropdown-header">
          {{ getSelectedModel() || 'Select a model' }} <span class="arrow">{{ isOpen ? '▲' : '▼' }}</span>
        </div>

        @if (isOpen) {
          <ul class="dropdown-list">
            @for (model of models; track model) {
              <li
                [ngClass]="{'highlighted-model': isPredefinedModel(model)}"
                (click)="selectModel(model.id)">
                {{ model.id }}
                @if (model.id === 'gpt-4.1') {
                  <span>(default)</span>
                }
              </li>
            }
          </ul>
        }
      </div>
    </div>

    <div class="d-flex align-items-center">
      Compare different AI models and their capabilities:&nbsp;
      <a class="text-info small" href="https://livebench.ai/#/" target="_blank">
        here
      </a>
    </div>

    <br/><br/>

    <div class="d-flex align-items-center">
      Further check models:&nbsp;
    </div>

    <div class="d-flex align-items-center">
      <a class="text-info small" href="https://platform.openai.com/docs/models" target="_blank">
        OpenAI
      </a>&nbsp;
      <a class="text-info small" href="https://docs.anthropic.com/en/docs/about-claude/models" target="_blank">
        Anthropic
      </a>&nbsp;
      <a class="text-info small" href="https://ai.google.dev/gemini-api/docs/models/gemini" target="_blank">
        Gemini
      </a>&nbsp;
      <a class="text-info small" href="https://api-docs.deepseek.com/quick_start/pricing/" target="_blank">
        Deepseek
      </a>
    </div>

    <div class="d-flex align-items-center">
      <a class="text-info small" href="https://platform.stepfun.com/docs/llm/text"
         target="_blank">
        StepFun
      </a>&nbsp;
      <a class="text-info small" href="https://www.alibabacloud.com/help/en/model-studio/getting-started/models"
         target="_blank">
        Qwen
      </a>&nbsp;
      <a class="text-info small" href="https://docs.x.ai/docs/models" target="_blank">
        Grok
      </a>&nbsp;
      <a class="text-info small" href="https://docs.mistral.ai/getting-started/models/models_overview/" target="_blank">
        Mistral AI
      </a>
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Randomness: {{ settings.temperature }}
          <br>
          @if (settings.temperature === 1.0) {
            <span>(default)</span>
          }
          @if (settings.temperature !== 1.0) {
            <span>(default: 1.0)</span>
          }
        </p>
      </div>
      <input [(ngModel)]="settings.temperature" class="input-randomness" max="2" min="0" step="0.1" type="range">
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Max Tokens:
          <br>
          @if (settings.maxTokens === 2048) {
            <span>(default)</span>
          }
          @if (settings.maxTokens !== 2048) {
            <span>(default: 2048)</span>
          }
        </p>
      </div>
      <input (keypress)="onInputOnlyAllowPositiveIntegers($event)"
             [(ngModel)]="settings.maxTokens"
             class="input-max-tokens"
             min="1"
             step="1"
             type="number">
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Reasoning Effort:</p>
      </div>
      <select [(ngModel)]="settings.reasoningEffort" class="btn btn-primary">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Text to speech (Chatworm will talk to you):</label>
      </div>
      <div class="p-left-column">
        <input (change)="onTextToSpeechChange($event)" [(ngModel)]="settings.textToSpeechEnabled"
               id="textToSpeechCheckbox"
               type="checkbox">
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Used voice for text to speech:</p>
      </div>
      <select (change)="onVoiceChange($event)" [(ngModel)]="settings.voice" class="btn btn-primary">
        <option value="alloy">Alloy</option>
        <option value="echo">Echo</option>
        <option value="fable">Fable</option>
        <option value="onyx">Onyx</option>
        <option value="nova">Nova</option>
        <option value="shimmer">Shimmer</option>
      </select>
    </div>

    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Quick send on speech to text (no enter/send click required):</label>
      </div>
      <div class="p-left-column">
        <input (change)="onQuickSendChange($event)" [(ngModel)]="settings.quickSendEnabled" id="quickSendCheckbox"
               type="checkbox">
      </div>
    </div>
  </div>
</div>
