<div class="chat-settings">
  <div class="row">
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="settings.apiKey"
             placeholder="Enter OpenAI API Key..."
             (input)="onTypeApiKey()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword = !showPassword;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword2 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyAnthropic"
             placeholder="Enter Anthrophic API Key..."
             (input)="onTypeApiKeyAnthropic()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword2 = !showPassword2;"><i
        class="bi bi-eye"></i></button>
      <input class="input-api" [type]="'text'" [(ngModel)]="settings.corsProxy"
             placeholder="Enter Cors Proxy for Anthrophic..."
             (input)="onTypeCorsProxy()">
      <button class="api-button" (click)="openApiKeyAnthrophicWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="d-flex align-items-center">
      <p class="p-left-column">Current used Model:</p>
      <select class="btn btn-primary" [(ngModel)]="settings.selectedModel">
        <option *ngFor="let model of models" [value]="model.id">
          {{model.id}}
          <p *ngIf="model.id === 'gpt-4o'">(default)</p>
        </option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Enable automatic switch of models:</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="autoSwitchCheckbox" [(ngModel)]="settings.autoSwitchEnabled"
               (change)="onAutoSwitchChange($event)">
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="saveMoneyCheckbox">Save money (use GPT3.5 Turbo instead of GPT-4o):</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="saveMoneyCheckbox" [(ngModel)]="settings.saveMoneyEnabled"
               (change)="onSaveMoneyChange($event)">
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Randomness: {{settings.temperature}}
          <br>
          <span *ngIf="settings.temperature === 0.7">(default)</span>
          <span *ngIf="settings.temperature !== 0.7">(default: 0.7)</span>
        </p>
      </div>
      <input class="input-randomness" type="range" min="0" max="2" step="0.1" [(ngModel)]="settings.temperature">
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Max Tokens:
          <br>
          <span *ngIf="settings.maxTokens === 512">(default)</span>
          <span *ngIf="settings.maxTokens !== 512">(default: 512)</span>
        </p>
      </div>
      <input class="input-max-tokens"
             type="number"
             min="1"
             step="1"
             (keypress)="onInputOnlyAllowPositiveIntegers($event)"
             [(ngModel)]="settings.maxTokens">
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Text to speech (Chatworm will talk back):</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="textToSpeechCheckbox" [(ngModel)]="settings.textToSpeechEnabled"
               (change)="onTextToSpeechChange($event)">
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Used voice on text to speech:</p>
      </div>
      <select class="btn btn-primary" [(ngModel)]="settings.voice" (change)="onVoiceChange($event)">
        <option value="alloy">Alloy</option>
        <option value="echo">Echo</option>
        <option value="fable">Fable</option>
        <option value="onyx">Onyx</option>
        <option value="nova">Nova</option>
        <option value="shimmer">Shimmer</option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Quick send on speech to text (no enter/send click required):</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="quickSendCheckbox" [(ngModel)]="settings.quickSendEnabled"
               (change)="onQuickSendChange($event)">
      </div>
    </div>
  </div>
</div>
