<div class="chat-settings">
  <div class="row">
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="settings.apiKey"
             placeholder="Enter OpenAI API Key..."
             (input)="onTypeApiKey()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword = !showPassword;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword2 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyAnthropic"
             placeholder="Enter Anthrophic API Key..."
             (input)="onTypeApiKeyAnthropic()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword2 = !showPassword2;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyAnthrophicWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword3 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyGemini"
             placeholder="Enter Gemini API Key..."
             (input)="onTypeApiKeyGemini()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword3 = !showPassword3;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyGeminiWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword4 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyDeepSeek"
             placeholder="Enter DeepSeek API Key..."
             (input)="onTypeApiKeyDeepSeek()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword4 = !showPassword4;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyDeepSeekWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword5 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyQwen"
             placeholder="Enter Qwen API Key..."
             (input)="onTypeApiKeyQwen()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword5 = !showPassword5;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyQwenWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input
        class="input-api"
        [type]="showPassword6 ? 'text' : 'password'"
        [(ngModel)]="settings.apiKeyGrok"
        placeholder="Enter Grok API Key..."
        (input)="onTypeApiKeyGrok()"/>
      <button aria-label="Show API Key" class="api-button" (click)="showPassword6 = !showPassword6;">
        <i class="bi bi-eye"></i>
      </button>
      <button class="api-button" (click)="openApiKeyGrokWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword7 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyMistral"
             placeholder="Enter Mistral AI API Key..."
             (input)="onTypeApiKeyMistral()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword7 = !showPassword7;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyMistralWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="col-md-8 d-flex">
      <input class="input-api" [type]="showPassword8 ? 'text' : 'password'" [(ngModel)]="settings.apiKeyStepFun"
             placeholder="Enter StepFun API Key..."
             (input)="onTypeApiKeyStepFun()">
      <button aria-label="Show API Key" class="api-button" (click)="showPassword8 = !showPassword8;"><i
        class="bi bi-eye"></i></button>
      <button class="api-button" (click)="openApiKeyStepFunWebsite()">Get&nbsp;API&nbsp;Key</button>
    </div>
    <div class="d-flex align-items-center">
      <p class="p-left-column">Active Model:</p>
      <div class="custom-dropdown">
        <div class="dropdown-header" (click)="toggleDropdown()">
          {{ getSelectedModel() || 'Select a model' }} <span class="arrow">{{ isOpen ? '▲' : '▼' }}</span>
        </div>
        <ul *ngIf="isOpen" class="dropdown-list">
          <li *ngFor="let model of models"
              [ngClass]="{'highlighted-model': isPredefinedModel(model)}"
              (click)="selectModel(model.id)">
            {{ model.id }}
            <span *ngIf="model.id === 'gpt-4o'">(default)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex align-items-center">
      Compare different AI models and their capabilities:&nbsp;
      <a href="https://livebench.ai/#/" target="_blank" class="text-info small">
        here
      </a>
    </div>
    <br/><br/>
    <div class="d-flex align-items-center">
      Further check models:&nbsp;
    </div>
    <div class="d-flex align-items-center">
      <a href="https://platform.openai.com/docs/models" target="_blank" class="text-info small">
        OpenAI
      </a>&nbsp;
      <a href="https://docs.anthropic.com/en/docs/about-claude/models" target="_blank" class="text-info small">
        Anthropic
      </a>&nbsp;
      <a href="https://ai.google.dev/gemini-api/docs/models/gemini" target="_blank" class="text-info small">
        Gemini
      </a>&nbsp;
      <a href="https://api-docs.deepseek.com/quick_start/pricing/" target="_blank" class="text-info small">
        Deepseek
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="https://platform.stepfun.com/docs/llm/text" target="_blank"
         class="text-info small">
        StepFun
      </a>&nbsp;
      <a href="https://www.alibabacloud.com/help/en/model-studio/getting-started/models" target="_blank"
         class="text-info small">
        Qwen
      </a>&nbsp;
      <a href="https://docs.x.ai/docs/models" target="_blank" class="text-info small">
        Grok
      </a>&nbsp;
      <a href="https://docs.mistral.ai/getting-started/models/models_overview/" target="_blank" class="text-info small">
        Mistral AI
      </a>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Randomness: {{ settings.temperature }}
          <br>
          <span *ngIf="settings.temperature === 0.7">(default)</span>
          <span *ngIf="settings.temperature !== 0.7">(default: 0.7)</span>
        </p>
      </div>
      <input class="input-randomness" type="range" min="0" max="2" step="0.1" [(ngModel)]="settings.temperature">
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Max Tokens:
          <br>
          <span *ngIf="settings.maxTokens === 512">(default)</span>
          <span *ngIf="settings.maxTokens !== 512">(default: 512)</span>
        </p>
      </div>
      <input class="input-max-tokens"
             type="number"
             min="1"
             step="1"
             (keypress)="onInputOnlyAllowPositiveIntegers($event)"
             [(ngModel)]="settings.maxTokens">
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Text to speech (Chatworm will talk to you):</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="textToSpeechCheckbox" [(ngModel)]="settings.textToSpeechEnabled"
               (change)="onTextToSpeechChange($event)">
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <p>Used voice for text to speech:</p>
      </div>
      <select class="btn btn-primary" [(ngModel)]="settings.voice" (change)="onVoiceChange($event)">
        <option value="alloy">Alloy</option>
        <option value="echo">Echo</option>
        <option value="fable">Fable</option>
        <option value="onyx">Onyx</option>
        <option value="nova">Nova</option>
        <option value="shimmer">Shimmer</option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <div class="p-left-column">
        <label for="textToSpeechCheckbox">Quick send on speech to text (no enter/send click required):</label>
      </div>
      <div class="p-left-column">
        <input type="checkbox" id="quickSendCheckbox" [(ngModel)]="settings.quickSendEnabled"
               (change)="onQuickSendChange($event)">
      </div>
    </div>
  </div>
</div>
