.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  border: 2px solid #dedede; /* Change the color to your preference */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.dark-green {
  background-color: #006400;
}

.green {
  background-color: #2E8B57;
}

.yellow {
  background-color: #FFD700;
}

.red {
  background-color: #DC143C;
}
