<button [matMenuTriggerFor]="menu"><i class="bi bi-mic"></i></button>
<mat-menu #menu="matMenu">
  <button (click)="openFilePicker()">
    <i class="bi bi-file-earmark-arrow-up"></i> Upload Audio File
  </button>
  <button id="recording" (touchstart)="startRecording()" (touchend)="stopRecording()" (mousedown)="startRecording()" (mouseup)="stopRecording()">
    <span *ngIf="!recording" class="prevent-select">
      <i class="bi bi-mic"></i> Start Recording
    </span>
    <span *ngIf="recording" class="prevent-select">
      <i class="bi bi-stop-circle"></i> Release to stop
    </span>
  </button>
</mat-menu>
