<div class="chat-prompt">
  <div *ngIf="isLoading" class="loading">
    <mat-spinner [diameter]="25"></mat-spinner>
    <p>Loading please wait...</p>
  </div>
  <img *ngIf="imagePreview" [src]="imagePreview" height="300px" alt="Preview image">
  <div class="d-flex">
      <textarea #messageInputArea class="textarea-message" rows="1" [(ngModel)]="messageInput" cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="6" type="text" placeholder="Type a message..."
                (keydown.enter)="onEnterSend($event)"></textarea>
    <div class="d-flex send-buttons">
      <button aria-label="Send" (click)="onSendClick()"><i
        [class]="messageInput ? 'bi bi-send' : 'bi bi-arrow-repeat'"></i></button>
      <app-image-camera-component (imagePreviewChanged)="updateImagePreview($event)"></app-image-camera-component>
      <app-audio-component (audioTextUpdated)="updateMessage($event)"
                           (isLoading)="changeLoading($event)"></app-audio-component>
    </div>
  </div>
</div>
