<div class="chat-prompt">
  @if (isLoading) {
    <div class="loading">
      <mat-spinner [diameter]="25"></mat-spinner>
      <p>Loading please wait...</p>
    </div>
  }

  @if (imagePreview) {
    <img [src]="imagePreview" height="300px" alt="Preview">
  }

  <div class="d-flex">
      <textarea #messageInputArea (keydown.enter)="onEnterSend($event)" [(ngModel)]="messageInput"
                cdkAutosizeMaxRows="6" cdkAutosizeMinRows="1"
                cdkTextareaAutosize
                class="textarea-message" placeholder="Type a message..." rows="1"
                type="text"></textarea>
    
    <div class="d-flex send-buttons">
      <button (click)="onSendClick()" aria-label="Send"><i
        [class]="messageInput ? 'bi bi-send' : 'bi bi-arrow-repeat'"></i></button>
      <app-image-camera-component (imagePreviewChanged)="updateImagePreview($event)"></app-image-camera-component>
      <app-audio-component (audioTextUpdated)="updateMessage($event)"
                           (isLoading)="changeLoading($event)"></app-audio-component>
    </div>
  </div>
</div>
