<div class="chat-header d-flex justify-content-between">
  <div class="d-flex">
    <button aria-label="Settings" class="btn btn-primary toggle-button" (click)="toggleSettings()"
            [ngClass]="{'collapsed': isChatHeaderCollapsed}">
      <ng-container *ngIf="!isChatHeaderCollapsed; else isCollapsed">
        <i class="bi bi-chevron-up"></i>
      </ng-container>
      <ng-template #isCollapsed>
        <i class="bi bi-chevron-down"></i>
      </ng-template>
    </button>
    <button aria-label="Info Dialog" class="btn btn-primary" (click)="openInfoDialog()">
      <i class="bi bi-info-circle"></i>
    </button>
    <app-clear-messages></app-clear-messages>
  </div>
  <div class="d-flex">
    <app-usage></app-usage>
    <button aria-label="Tip Dialog" class="btn btn-primary" (click)="openTipDialog()">
      <i class="bi bi-currency-bitcoin"></i>
    </button>
    <button aria-label="Darkmode" class="btn btn-primary" (click)="toggleDarkMode()">
      <i class="bi" [ngClass]="{'bi-moon': !darkModeEnabled, 'bi-sun': darkModeEnabled}"></i>
    </button>
  </div>
</div>
<app-settings></app-settings>
