.chat-header {
  margin: 0 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bgColor2);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

button {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
  background-color: #00A67E;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #005a44;
}
