<div class="chat-header d-flex justify-content-between">
  <div class="d-flex">
    <button (click)="toggleSettings()" [ngClass]="{'collapsed': isChatHeaderCollapsed}" aria-label="Settings"
            class="btn btn-primary toggle-button">
      @if (!isChatHeaderCollapsed) {
        <i class="bi bi-chevron-up"></i>
      } @else {
        <i class="bi bi-chevron-down"></i>
      }
    </button>
    <button (click)="toggleApiKeySettings()" [ngClass]="{'collapsed': isApiSettingsHeaderCollapsed}" aria-label="Settings"
            class="btn btn-primary toggle-button">
      @if (!isApiSettingsHeaderCollapsed) {
        <i class="bi bi-chevron-up"></i>
      } @else {
        <i class="bi bi-chevron-down"></i>
      }
    </button>
    <button (click)="toggleSavePanel()" aria-label="Chat history" class="btn btn-primary">
      <i class="bi bi-save"></i>
    </button>
    <app-clear-messages></app-clear-messages>
  </div>

  <div class="d-flex">
    <app-usage></app-usage>
    <button (click)="openTipDialog()" aria-label="Tip Dialog" class="btn btn-primary">
      <i class="bi bi-coin"></i>
    </button>
    <button (click)="toggleDarkMode()" aria-label="Darkmode" class="btn btn-primary">
      <i [ngClass]="{'bi-moon': !darkModeEnabled, 'bi-sun': darkModeEnabled}" class="bi"></i>
    </button>
  </div>
</div>

<app-settings></app-settings>
<app-api-key-settings></app-api-key-settings>
