<div #messageContainer class="chat-messages">
  @if (getMessages().length === 0) {
    <app-info></app-info>
  }

  @for (message of getMessages(); track message) {
    <div class="chat-message">
      @if (message.isUser) {
        <div class="message-content message-content-right">
          @if (message.image) {
            <img [src]="message.image" height="300px" alt="Preview">
          }
          <p class="p-message-content">{{ message.content }}</p>
          <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
      } @else {
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
        <div class="message-content message-content-left">
          @if (!message.isRaw) {
            <div [innerHTML]="message.content">
            </div>
            @if (message.audioUrl) {
              <audio [autoplay]="message.audioAutoplay" [controls]="true" [src]="message.audioUrl"></audio>
            }
          } @else {
            <div>
              <pre>{{ message.contentRaw }}</pre>
            </div>
          }
          <div class="d-flex justify-content-end">
            <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
            <button aria-label="raw" class="raw" (click)="message.isRaw = !message.isRaw; highlightCode()"><i
              class="bi bi-braces"></i>
            </button>
          </div>
        </div>
      }
    </div>
  }

  @if (chatbotTyping) {
    <div class="chat-message chatbot-typing">
      <div class="message-avatar">
        <img src="/assets/chatworm_simple.png" alt="Chatworm" width="50px"/>
      </div>
      <div class="message-content message-content-left">
        <br/>
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  }

  @if (!chatbotTyping && getMessages().length > 0) {
    <app-save-as-pdf></app-save-as-pdf>
  }
</div>
