<div class="chat-messages" #messageContainer>
  <app-info *ngIf="getMessages().length === 0"></app-info>
  <div class="chat-message" *ngFor="let message of getMessages()">
    <ng-container *ngIf="message.isUser; else systemMessage">
      <div class="message-content message-content-right">
        <p class="p-message-content">{{message.content}}</p>
        <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
      </div>
      <div class="message-avatar" [innerHTML]="message.avatar"></div>
    </ng-container>
    <ng-template #systemMessage>
      <div class="message-avatar" [innerHTML]="message.avatar"></div>
      <div class="message-content message-content-left">
        <ng-container *ngIf="!message.isRaw; else rawMessage">
          <div [innerHTML]="message.content">
          </div>
        </ng-container>
        <ng-template #rawMessage>
          <div>
            <pre>{{message.contentRaw}}</pre>
          </div>
        </ng-template>
        <div class="d-flex justify-content-end">
          <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
          <button aria-label="raw" class="raw" (click)="message.isRaw = !message.isRaw; highlightCode()"><i class="bi bi-braces"></i>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="chat-message chatbot-typing" *ngIf="chatbotTyping">
    <div class="message-avatar">
      <img src="/assets/chatworm_simple.png" alt="Chatworm" width="50px"/>
    </div>
    <div class="message-content message-content-left">
      <br/>
      <div class="typing-indicator">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <app-save-as-pdf *ngIf="!chatbotTyping && getMessages().length > 0"></app-save-as-pdf>
</div>
