button {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
  background-color: #00A67E;
  color: #fff !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #005a44 !important;
}

::ng-deep .mat-mdc-menu-panel {
  overflow-x: hidden !important;
  background: transparent !important;
  transition: none !important;
  box-shadow: none !important;
  max-width: 170px !important;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
  background-color: #00A67E;
  color: #fff !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="file"] + label:hover {
  background-color: #005a44 !important;
}
