<div class="chat-container">
  <div class="chat-header">
    <img src="favicon.ico" class="chat-icon">
    <h2>Chat with ChatGPT API</h2>
  </div>
  <div class="chat-messages" #messageContainer>
  <div class="chat-message" *ngFor="let message of messages">
      <div class="message-content">
        {{ message.content }}
        <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
      </div>
      <div class="message-avatar" [innerHTML]="message.avatar"></div>
    </div>
    <div class="chat-message chatbot-typing" *ngIf="chatbotTyping">
      <div class="message-avatar">
        <div class="message-avatar"><i class="bi bi-laptop"></i></div>
      </div>
      <div class="message-content">
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="apikey" placeholder="Enter API Key...">
    <textarea [(ngModel)]="messageInput" type="text" placeholder="Type a message..."
              (keydown.enter)="sendMessage()"></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
