html, body {
  height: 100%;
  overflow: hidden;
}

.chat-container {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  max-height: calc(50vh - 50px);
}

@media (max-width: 767.98px) {
  .chat-container {
    max-width: 100%;
  }
}

.chat-container {
  max-width: 95%;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.chat-header {
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ccc;
}

.chat-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-messages {
  height: 50vh;
  overflow-y: scroll;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.04);
}

/* chat message speech bubbles */
.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.message-content {
  position: relative;
  display: inline-block;
  padding: 10px;
  max-width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.message-content-left {
  background-color: rgba(0, 166, 126, 0.19);
}

.message-content-left::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 166, 126, 0.19);
  transform: translateY(-50%);
}

.message-content-right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  transform: translateY(-50%);
}

.chat-message.user .message-content::before {
  display: none;
}

.chat-message.user .message-content::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #007bff;
  transform: translateY(-50%);
}

.chat-message.user .message-content::after {
  right: auto;
  left: -10px;
  border-right: none;
  border-left: 10px solid #007bff;
}

.message-timestamp {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.message-avatar {
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.raw {
  background-color: unset;
  color: black;
  padding: 0;
  margin-left: 5px;
}

.chatbot-typing {
  display: flex;
}

.typing-indicator {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 24px;
}

.typing-indicator span {
  display: inline-block;
  position: absolute;
  left: 8px;
  background-color: #999;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: typing 1s ease-in-out infinite;
}

.typing-indicator span:nth-child(2) {
  left: 24px;
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  left: 40px;
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-6px);
    opacity: 1;
  }
}

.chat-input {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  outline: none;
}

.chat-input textarea {
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
}

button {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #00A67E;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #005a44;
}

.bi-chat-heart-fill {
  color: #00A67E;
}

input {
  width: 100%;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    background-color: #00A67E;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background-color: #005a44;
  }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #00A67E;
}

input[type="range"]::-moz-range-track {
  background-color: #00A67E;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #00A67E;
}

input[type="range"]::-ms-fill-upper {
  background-color: #00A67E;
}

.centered-link {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.dark-mode {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
}

.dark-mode .chat-container {
  background-color: rgba(68, 70, 84, 0.74);
  border-color: #555;
}

.dark-mode .chat-header {
  background-color: rgba(52,53,65);
  border-bottom-color: #666;
  color: #fff;
}

.dark-mode .chat-messages {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
}

.dark-mode .chat-message.user .message-content::after {
  border-left-color: #007fff;
}

.dark-mode .message-content {
  background-color: #fff;
  color: #222;
}

.dark-mode .message-content-right::after {
  border-left-color: #fff;
}

.dark-mode .message-content-left::before {
  border-right-color: #fff;
}

.dark-mode .message-timestamp {
  color: #bbb;
}

.dark-mode .chat-input {
  background-color: #353740;
}

.btn-primary {
  background-color: #00A67E;
}

.chat-header.collapsed {
  display: none;
}

.chat-header.collapsed ~ .chat-messages {
  max-height: calc(82vh - 100px);
}
