<div class="chat-container">
  <div class="chat-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/ChatGPT_logo.svg/120px-ChatGPT_logo.svg.png" class="chat-icon">
        <h2 class="mb-0 ml-2">Chat with ChatGPT API</h2>
      </div>
      <div class="d-flex">
        <button class="btn btn-primary" (click)="showModal = true;">
          <i class="bi bi-currency-bitcoin"></i>
        </button>
        <button class="btn btn-primary" (click)="toggleDarkMode()">
          <i class="bi bi-moon"></i>
        </button>
      </div>
    </div>
    <app-tip-modal *ngIf="showModal" (close)="showModal = false;"></app-tip-modal>
    <br/>
    <p>Chat with me even when <a href="https://chat.openai.com/chat" target="_blank">https://chat.openai.com/chat</a> is down.<br/>
    Without the usual delays and too many requests in 1h.</p>
    <div class="row">
      <div class="d-flex">
        <div class="col-md-8">
          <div class="d-flex">
            <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="apikey" placeholder="Enter API Key..." (input)="refreshModels()">
            <button (click)="showPassword = !showPassword;"><i class="bi bi-eye"></i></button>
          </div>
        </div>
        <div class="col-md-2 px-4">
          <a href="https://platform.openai.com/account/api-keys" class="centered-link" target="_blank">Get API Key</a>
        </div>
        <div class="col-md-2">
          <a href="https://platform.openai.com/account/usage" class="centered-link" target="_blank">Usage</a>
        </div>
      </div>
    </div>
    <p>Model to use: <select class="btn btn-primary" [(ngModel)]="selectedModel">
      <option *ngFor="let model of models" [value]="model.id">
        {{model.id}}
      </option>
    </select>
    </p>
    <div class="d-flex align-items-center">Randomness: <input type="range" min="0" max="2" step="0.1" [(ngModel)]="temperature"> ({{temperature}})</div>
  </div>
  <div class="chat-messages" #messageContainer>
    <div class="chat-message" *ngFor="let message of messages">
      <ng-container *ngIf="message.isUser; else elseBlock">
        <div class="message-content message-content-right">
          {{message.content}}
          <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
      </ng-container>
      <ng-template #elseBlock>
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
        <div class="message-content message-content-left" [innerHTML]="message.content">
          <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
      </ng-template>
    </div>
    <div class="chat-message chatbot-typing" *ngIf="chatbotTyping">
      <div class="message-avatar">
        <div class="message-avatar"><i class="bi bi-laptop"></i></div>
      </div>
      <div class="message-content">
        <br/>
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <div class="row">
      <div class="col-md-9">
        <textarea [(ngModel)]="messageInput" type="text" placeholder="Type a message..."
                  (keydown.enter)="$event.preventDefault();sendMessage()"></textarea>
      </div>
      <div class="col-md-2">
        <div class="d-flex">
          <button (click)="sendMessage()"><i class="bi bi-send"></i></button>
          <button (click)="resendLastMessage()"><i class="bi bi-arrow-repeat"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
