<div class="title-card">
  <div class="d-flex justify-content-center align-items-center">
    <img src="/assets/chatworm.png" alt="Chatworm" width="72px"/>
    <div>
      <h3 class="mb-0 ml-2">Chat Worm</h3>
      <h6 class="mb-0 ml-2">Chat with ChatGPT via API</h6>
    </div>
  </div>
</div>
<div class="chat-container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <button class="btn btn-primary toggle-button" (click)="toggleChatHeader()"
              [ngClass]="{'collapsed': isChatHeaderCollapsed}">
        <ng-container *ngIf="!isChatHeaderCollapsed; else isCollapsed">
          <i class="bi bi-chevron-up"></i>
        </ng-container>
        <ng-template #isCollapsed>
          <i class="bi bi-chevron-down"></i>
        </ng-template>
      </button>
      <button class="btn btn-primary" (click)="openInfoDialog()">
        <i class="bi bi-info-circle"></i>
      </button>
    </div>
    <div class="d-flex">
      <button (click)="openUsageWebsite()" class="progress-bar" role="progressbar" [attr.aria-valuenow]="total_used"
           [attr.aria-valuemin]="0" [attr.aria-valuemax]="total_granted">{{total_used|currency}} / {{total_granted|currency}}</button>
      <button class="btn btn-primary" (click)="openTipDialog()">
        <i class="bi bi-currency-bitcoin"></i>
      </button>
      <button class="btn btn-primary" (click)="toggleDarkMode()">
        <i class="bi" [ngClass]="{'bi-moon': !darkModeEnabled, 'bi-sun': darkModeEnabled}"></i>
      </button>
    </div>
  </div>
  <div class="chat-header">
    <div class="row">
      <div class="d-flex">
        <div class="col-md-8">
          <div class="d-flex">
            <input class="input-api" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="apikey" placeholder="Enter API Key..."
                   (input)="onTypeApiKey()">
            <button (click)="showPassword = !showPassword;"><i class="bi bi-eye"></i></button>
          </div>
        </div>
        <button (click)="openApiKeyWebsite()">Get API Key</button>
      </div>
    </div>
    <p>Model to use:
      <select class="btn btn-primary" [(ngModel)]="selectedModel">
        <option *ngFor="let model of models" [value]="model.id">
          {{model.id}}
          <p *ngIf="model.id === 'gpt-3.5-turbo'">(default)</p>
         </option>
      </select>
    </p>
    <div class="d-flex align-items-center">
      <div style="min-width: 200px">
        <p>Randomness: {{temperature}}
          <br>
          <span *ngIf="temperature === 0.8">(default)</span>
          <span *ngIf="temperature !== 0.8">(The default value is 0.8)</span>
        </p>
      </div>
      <input class="input-randomness" type="range" min="0" max="2" step="0.1" [(ngModel)]="temperature">
    </div>
    <div class="d-flex align-items-center">
      <p>Max Tokens: {{maxTokens}}
        <br>
        <span *ngIf="maxTokens === 2000">(default)</span>
        <span *ngIf="maxTokens !== 2000">(The default value is 2000)</span>
      </p>
      <input class="input-max-tokens" type="number" [(ngModel)]="maxTokens">
    </div>
  </div>
  <div class="chat-messages" #messageContainer>
    <app-info *ngIf="messages.length === 0"></app-info>
    <div class="chat-message" *ngFor="let message of messages">
      <ng-container *ngIf="message.isUser; else systemMessage">
        <div class="message-content message-content-right">
          <pre>{{message.content}}</pre>
          <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
        </div>
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
      </ng-container>
      <ng-template #systemMessage>
        <div class="message-avatar" [innerHTML]="message.avatar"></div>
        <div class="message-content message-content-left">
          <ng-container *ngIf="!message.isRaw; else rawMessage">
            <div [innerHTML]="message.content">
            </div>
          </ng-container>
          <ng-template #rawMessage>
            <div>
              <pre>{{message.contentRaw}}</pre>
            </div>
          </ng-template>
          <div class="d-flex justify-content-end">
            <div class="message-timestamp">{{ message.timestamp | date:'shortTime' }}</div>
            <button class="raw" (click)="message.isRaw = !message.isRaw; highlightCode()"><i class="bi bi-braces"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="chat-message chatbot-typing" *ngIf="chatbotTyping">
      <div class="message-avatar">
        <img src="/assets/chatworm_simple.png" alt="Chatworm" width="50px"/>
      </div>
      <div class="message-content message-content-left">
        <br/>
        <div class="typing-indicator">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <div class="d-flex">
      <textarea #messageInputArea class="textarea-message" [(ngModel)]="messageInput" type="text" placeholder="Type a message..."
                (keydown.enter)="$event.preventDefault();sendMessage()"></textarea>
      <div class="d-flex send-buttons">
        <button (click)="sendMessage()"><i class="bi bi-send"></i></button>
        <button (click)="resendLastMessage()"><i class="bi bi-arrow-repeat"></i></button>
      </div>
    </div>
  </div>
</div>
