.dark-mode {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
  border-color: rgba(68, 70, 84, 0.74);
}

.dark-mode .title-card {
  background-color: rgba(52,53,65);
  border-bottom-color: #666;
  color: #fff;
}

.dark-mode .chat-container {
  background-color: rgba(68, 70, 84, 0.74);
  border-color: #555;
  max-width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.dark-mode .chat-header {
  background-color: rgba(52,53,65);
  border-bottom-color: #666;
  color: #fff;
}

.dark-mode .chat-messages {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
}

.dark-mode .chat-message.user .message-content::after {
  border-left-color: #007fff;
}

.dark-mode .message-content {
  background-color: #007458;
  color: #fff;
}

.dark-mode .message-content-right::after {
  border-left-color: #007458;
}

.dark-mode .message-content-left::before {
  border-right-color: #007458;
}

.dark-mode .message-timestamp {
  color: #bbb;
}

.dark-mode .chat-input {
  background-color: #353740;
}

.dark-mode ::-webkit-scrollbar {
  background-color: rgba(68, 70, 84, 0.74);
  color: #aba499;
}

.dark-mode ::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #008d6a;
  border-radius: 5px;
}

.dark-mode .input-api {
  color: #fff;
  background-color: rgba(68, 70, 84, 0.74);
}

.dark-mode .input-randomness {
  background-color: rgba(68, 70, 84, 0.74);
}

.dark-mode .input-max-tokens {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
}

.dark-mode .textarea-message {
  background-color: rgba(68, 70, 84, 0.74);
  color: #fff;
}

.dark-mode .select-model {
  background-color: rgba(68, 70, 84, 0.74);
}
