<div class="chat-api-key-settings">
  <div class="row">
    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">OpenAI:</span>
      <input (input)="onTypeApiKey()" [(ngModel)]="settings.apiKey" [type]="showPassword ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter OpenAI API Key...">
      <button (click)="showPassword = !showPassword;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">Anthropic:</span>
      <input (input)="onTypeApiKeyAnthropic()" [(ngModel)]="settings.apiKeyAnthropic"
             [type]="showPassword2 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Anthrophic API Key...">
      <button (click)="showPassword2 = !showPassword2;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyAnthrophicWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">Gemini:</span>
      <input (input)="onTypeApiKeyGemini()" [(ngModel)]="settings.apiKeyGemini"
             [type]="showPassword3 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Gemini API Key...">
      <button (click)="showPassword3 = !showPassword3;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyGeminiWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">DeepSeek:</span>
      <input (input)="onTypeApiKeyDeepSeek()" [(ngModel)]="settings.apiKeyDeepSeek"
             [type]="showPassword4 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter DeepSeek API Key...">
      <button (click)="showPassword4 = !showPassword4;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyDeepSeekWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">Qwen:</span>
      <input (input)="onTypeApiKeyQwen()" [(ngModel)]="settings.apiKeyQwen" [type]="showPassword5 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Qwen API Key...">
      <button (click)="showPassword5 = !showPassword5;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyQwenWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">Grok:</span>
      <input
        (input)="onTypeApiKeyGrok()"
        [(ngModel)]="settings.apiKeyGrok"
        [type]="showPassword6 ? 'text' : 'password'"
        class="input-api"
        placeholder="Enter Grok API Key..."/>
      <button (click)="showPassword6 = !showPassword6;" aria-label="Show API Key" class="api-button">
        <i class="bi bi-eye"></i>
      </button>
      <button (click)="openApiKeyGrokWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">Mistral AI:</span>
      <input (input)="onTypeApiKeyMistral()" [(ngModel)]="settings.apiKeyMistral"
             [type]="showPassword7 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter Mistral AI API Key...">
      <button (click)="showPassword7 = !showPassword7;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyMistralWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>

    <div class="col-md-8 d-flex align-items-center">
      <span class="api-label">StepFun:</span>
      <input (input)="onTypeApiKeyStepFun()" [(ngModel)]="settings.apiKeyStepFun"
             [type]="showPassword8 ? 'text' : 'password'"
             class="input-api"
             placeholder="Enter StepFun API Key...">
      <button (click)="showPassword8 = !showPassword8;" aria-label="Show API Key" class="api-button"><i
        class="bi bi-eye"></i></button>
      <button (click)="openApiKeyStepFunWebsite()" class="api-button">Get&nbsp;API&nbsp;Key</button>
    </div>
  </div>
</div>
