<div class="popup-container">
  <div class="popup-content">
    <h2>Info</h2>
    <div>
      Advantage of this tool:
      <ul>
        <li><b>Availability:</b> One of the biggest advantages of this application is that it allows users to chat even when
          https://chat.openai.com/chat is down.
        </li>
        <li><b>Faster Response Time:</b> The application has been designed to minimize delays and too many requests in 1h,
          which means that users can get faster responses from the AI assistant.
        </li>
        <li><b>Cost-Effective:</b> The application is cheaper than Chatgpt Plus instead you pay per tokens, which makes it a
          cost-effective solution for those who need to use an AI assistant for chatting.
        </li>
        <li><b>Multiple Models:</b> The application uses different models, including models with no content policy (ex.
          text-davinci-003). This means that users can choose the model that best suits their needs and preferences.
        </li>
        <li><b>Customizable:</b> Users can change the randomness of the responses they receive from the AI assistant, which
          allows them to customize their chat experience.
        </li>
        <li><b>More Features:</b> The application comes with many more features that make it a more versatile and useful tool
          for those who need an AI assistant for chatting.
        </li>
      </ul>
    </div>
    <div>To help us improve the software via pull requests: <a href="https://github.com/UnknownEnergy/chatgpt-api" target="_blank">Github Repo</a>
    </div>
    <br/>
    <div>
      This Tool is open-source based on the MIT License.<br/>
      Copyright (c) 2023 Daniel Schweiger<br/>
      <br/>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br/>
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br/>
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br/>
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br/>
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br/>
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br/>
      SOFTWARE.<br/>

    </div>
    <button (click)="this.close.emit();">Close</button>
  </div>
</div>
