.title-card {
  margin: 10px 10px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bgColor2);
  color: var(--textColor);
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
}

.header-logo {
  margin: 5px;
  width: 65px;
}
