<div class="chat-prompt">
  <div *ngIf="isLoading" class="loading d-flex">
    <mat-spinner [diameter]="25"></mat-spinner>
    <p>Loading please wait...</p>
  </div>
  <div class="d-flex">
      <textarea #messageInputArea class="textarea-message" rows="1" [(ngModel)]="messageInput" cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="3" type="text" placeholder="Type a message..."
                (keydown.enter)="$event.preventDefault();messageInput.trim() ? sendMessage.emit(messageInput) : null; messageInput = '';"></textarea>
    <div class="d-flex send-buttons">
      <button (click)="sendMessage.emit(messageInput); messageInput = '';"><i class="bi bi-send"></i></button>
      <button (click)="resendMessage.emit()"><i class="bi bi-arrow-repeat"></i></button>
      <app-audio-component [apiKey]="apiKey" (audioTextUpdated)="updateMessage($event)" (isLoading)="changeLoading($event)"></app-audio-component>
    </div>
  </div>
</div>
