<button aria-label="Usage" class="progress-bar" [matMenuTriggerFor]="menu">Usage</button>

<mat-menu #menu="matMenu">
  <button (click)="openOpenAIWebsite()">OpenAI</button>
  <button (click)="openAnthropicWebsite()">Anthropic</button>
  <button (click)="openGeminiWebsite()">Gemini</button>
  <button (click)="openDeepSeekWebsite()">Deepseek</button>
  <button (click)="openQwenWebsite()">Qwen</button>
  <button (click)="openGrokWebsite()">Grok</button>
  <button (click)="openMistralWebsite()">MistralAI</button>
  <button (click)="openStepFunWebsite()">StepFun</button>
</mat-menu>
