
.progress-bar {
  align-self: center;
  height: 40px;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  transition: width .6s ease;
  background-color: #00A67E;
  color: white;
  padding: 5px;
}

button {
  margin: 2px;
  padding: 5px 10px;
  background-color: #00A67E;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #005a44;
}
