/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~highlight.js/styles/default.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@mixin all() {
  --header-size: 90px;
  --toolbar-size: 50px;
  --chat-prompt-size: 65px;
}

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: white;
  --bgColor2: white;
  --bgColorInput: white;
  --textColor: black;
  --message-left: rgba(0, 166, 126, 0.19);
  --message-right: #ffe1a6;
  --border: #ccc;
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: rgba(52,53,65);
  --bgColor2: rgba(68, 70, 84, 0.9);
  --bgColorInput: rgba(68, 70, 84, 0.9);
  --textColor: white;
  --message-left: #00644b;
  --message-right: #008664;
  --border: #555;
}

body {
  @include all();
  @include lighten();
  background-color: #00644b;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.dark {
  @include darken();
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  .chat-messages, .chat-messages * {
    visibility: visible;
  }
  .chat-messages {
    position: absolute;
    left: 0;
    top: 0;

    .info-bubble, .info-bubble *{
      visibility: hidden;
    }

    .raw, .raw *{
      visibility: hidden;
    }
  }
}
