/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "@angular/material";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~highlight.js/styles/a11y-dark.css";
@import "~highlightjs-copy/styles/highlightjs-copy.css";


@include mat.core();


$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

.matLightMode {
  @include mat.all-component-colors($angular-default-theme);
}

$angular-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);

.matDarkMode {
  @include mat.all-component-colors($angular-dark-theme);
}




@mixin all() {
  --header-size: 90px;
  --toolbar-size: 50px;
  --chat-prompt-size: 65px;
}

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: white;
  --bgColor2: white;
  --bgColorInput: white;
  --textColor: black;
  --message-left: rgba(0, 166, 126, 0.19);
  --message-right: #ffe1a6;
  --border: #ccc;
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: rgba(52,53,65);
  --bgColor2: rgba(68, 70, 84, 0.9);
  --bgColorInput: rgba(68, 70, 84, 0.9);
  --textColor: white;
  --message-left: #00644b;
  --message-right: #008664;
  --border: #555;
}

body {
  @include all();
  @include lighten();
  background-color: #00644b;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.dark {
  @include darken();
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  .chat-messages, .chat-messages * {
    visibility: visible;
  }
  .chat-messages {
    page-break-inside: avoid;
    position: unset !important;
    padding: 0 !important;
    margin: 0 !important;

    .info-bubble, .info-bubble *{
      visibility: hidden;
    }

    .raw, .raw *{
      visibility: hidden;
    }
  }
}
