<button [matMenuTriggerFor]="menu"><i class="bi bi-mic"></i></button>
<mat-menu #menu="matMenu">
  <button (click)="openFilePicker()">
    <i class="bi bi-file-earmark-arrow-up"></i> Upload Audio File
  </button>
  <button id="recording" (touchstart)="startRecording()" (touchend)="stopRecording()" (mousedown)="startRecording()" (mouseup)="stopRecording()" (mouseleave)="stopRecording()">
    <div class="prevent-select">
      <i [class]="recordIcon"></i> {{recordText}}
    </div>
  </button>
</mat-menu>
